
TEXMFDOTDIR = .;/build//

shell_escape.luatex = p

shell_escape_commands = \
bibtex,bibtex8,bib2gls,\
extractbb,\
gregorio,\
kpsewhich,\
makeindex,\
memoize-extract.pl,\
memoize-extract.py,\
repstopdf,\
r-mpost,\
texosquery-jre8,\
git,
lilypond,\
gs,\

